@charset "utf-8";
/* CSS Document */
body{font-family:Consolas;font-size: 16px;margin:0;}
#container{margin:0 auto;width:1200px; background: 
url(background2.jpg)no-repeat;
/*url(https://img.tukuppt.com/ad_preview/00/20/38/5c9a138f2cf59.jpg!/fw/980)no-repeat;*/
height:100%;
overflow: hidden;
background-size:cover;
height: auto;}
a{text-decoration: none;color: #000000}
#header{height: 100px;margin-bottom: 10px;}

#logo{height:100px;width: 200px;float: left;padding-left: 20px;margin-left: 10px;}

#menu{height:90px;width: 900px;float: right;margin-top: 10px;}
#menu ul{list-style:none;margin:0px;padding-top: 22px; margin-top: 5px;}		
#menu ul li{float:left;padding: 0 20px;font-weight: bold;line-height:20px;}

#banner{height: 300px;margin-bottom: 5px;}

#mainContent{height: 2500px;margin-bottom: 5px;margin-top: 20px}
#con_box{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}
#con_box1{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}
#con_box2{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}
#con_box3{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}
#con_box4{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}
#con_box5{height: 30px;width: 80px;background:#DC5C5E;text-align: center;float: left}

/*part1上部分*/
#con_bltop{height:30px; width: 500px;float:left;margin-left:100px;color:#F1E3E3;font-size:17px;margin-top:50px;}
#con_brtop{height:30px; width: 500px;float:left;margin-right:100px;color:#C12D30;font-size:16px;margin-top:50px;text-align:right;}

/*part1中间上左右*/
#con_blmidt{height:170px;width: 510px;float:left;margin-left:100px;margin-top:30px;}
#con_blmidtl{height:200px; width: 250px;float:left;margin-left:0;font-size:16px;margin-top:0;}
#con_blmidtl img{float:left}
#con_blmidtr{height:200px; width: 250px;float:left;margin-left:0;font-size:16px;margin-top:0;}
#con_blmidb{height:170px; width: 490px;float:left;margin-right:100px;font-size:16px;margin-top:30px;}
#con_blmidbl{height:200px; width: 210px;float:left;margin-left:30px;font-size:16px;margin-top:0;}
#con_blmidbl img{float:center}
#con_blmidbr{height:200px; width: 250px;float:left;margin-left:0px;font-size:16px;margin-top:0;}

/*part1中间下左右*/
#con_blmidp{height:170px;width: 510px;float:left;margin-left:100px;margin-top:30px;}
#con_blmidpl{height:200px; width: 250px;float:left;margin-left:0;font-size:16px;margin-top:20px;}
#con_blmidpl img{float:left}
#con_blmidpr{height:200px; width: 250px;float:left;margin-left:0;font-size:16px;margin-top:20px;}
#con_blmidbp{height:170px; width: 490px;float:left;margin-right:100px;font-size:16px;margin-top:30px;}
#con_blmidbpl{height:200px; width: 210px;float:left;margin-left:30px;font-size:16px;margin-top:20px;}
#con_blmidbpl img{float:center}
#con_blmidbpr{height:200px; width: 250px;float:left;margin-left:0;font-size:16px;margin-top:20px;}

/*part2上部分*/
#con_bmtop{height:200px; width: 1000px;float:left;margin-left:100px;margin-right: 100px; color:#F1E3E3;font-size:17px;margin-top:100px;}
#con_bmltop{height:30px; width: 500px;float:left;margin-left:100px;color:#F1E3E3;font-size:17px;margin-top:30px;}

/*part2上中banner*/
#con_bmrtop{height:30px; width: 500px;float:left;margin-right:100px;color:#C12D30;font-size:16px;margin-top:30px;text-align:right;}
#con_bmmid{height: auto;width: 1000px;margin-left: 100px;margin-right: 100px;margin-top: 30px;}

/*part2左边*/
#con_blmidl{height:450px; width: 310px;margin-left:0;font-size:16px;margin-top: 20px;float: left}
#con_blmidl1{height:50px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_blmidl1 h4{margin: 0}
#con_blmidl2{height:100px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidll2{height:100px; width: 150px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidlr2{height:100px; width: 160px;margin-left:0;font-size:16px;margin-top: 0;float: right;}
#con_blmidl3{height:100px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidll3{height:100px; width: 150px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidlr3{height:100px; width: 160px;margin-left:0;font-size:16px;margin-top: 0;float: right;}
#con_blmidl4{height:100px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidll4{height:100px; width: 150px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidlr4{height:100px; width: 160px;margin-left:0;font-size:16px;margin-top: 0;float: right;}
#con_blmidl5{height:100px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidll5{height:100px; width: 150px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidlr5{height:100px; width: 160px;margin-left:0;font-size:16px;margin-top: 0;float: right;}

/*part2中间*/
#con_blmidm{height:450px; width: 380px;margin-left:0;font-size:16px;margin-top: 20px;float: left}
#con_blmidm1{height:50px; width: 380px;margin-left:0;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_blmidm1 h4{margin: 0}
#con_blmidm2{height:200px; width: 380px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidml2{height:200px; width: 150px;margin-left:30px;margin-right:10px;font-size:16px;margin-top: 0;float: left;}
#con_blmidmr2{height:200px; width: 150px;margin-left:20px;margin-right:20px;font-size:16px;margin-top: 0;float: right;}
#con_blmidm3{height:200px; width: 380px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_blmidml3{height:200px; width: 150px;margin-left:30px;margin-right:10px;font-size:16px;margin-top: 0;float: left;}
#con_blmidmr3{height:200px; width: 150px;margin-left:20px;margin-right:20px;font-size:16px;margin-top: 0;float: right;}

/*part2右边*/
#con_blmidr{height:450px; width: 310px;margin-left:0;font-size:16px;margin-top: 20px;float: left}
#con_blmidr1{height:50px; width: 310px;margin-left:0;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_blmidr1 h4{margin: 0}
#con_blmidr2{height:100px; width: 280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;}
#con_blmidr3{height:100px; width: 280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;}
#con_blmidr4{height:100px; width: 280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;}
#con_blmidr5{height:100px; width: 280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;}

/*part3上部分*/
#con_bmptop{height:30px; width: 1000px;float:left;margin-left:100px;color:#F1E3E3;font-size:17px;margin-top:50px;}

/*part3中间上部分*/
#con_bmptopp{height: 400px;width: 1000px;margin-top: 20px;float:left;margin-left:100px;}
#con_bmptopp1{height:230px; width: 1000px;margin-left:0;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bmptopp11{height:230px; width:280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bmptopp12{height:230px; width:320px;margin-left:40px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bmptopp13{height:230px; width:280px;margin-left:20px;font-size:16px;margin-top: 0;float: 
left;line-height: 40px;text-align:center;}

/*part3中间中部分*/
#con_bmptopp2{height:50px; width: 980px;margin-left:20px;font-size:16px;margin-top: 0;float: left;}

/*part3中间下部分*/
#con_bmptopp3{height:120px; width: 1000px;margin-left:0;font-size:16px;margin-top: 0;float: left;}
#con_bmptopp31{height:120px; width:280px;margin-left:20px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bmptopp32{height:120px; width:320px;margin-left:40px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bmptopp33{height:120px; width:280px;margin-left:40px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}

/*part4 上部分*/
#con_bbptop{height:30px; width: 1000px;float:left;margin-left:100px;color:#F1E3E3;font-size:17px;margin-top:50px;}

/*part4中间部分*/
#con_bbptopm{height: 500px;width: 1000px;float: left;margin-left: 100px;margin-top: 20px;line-height: 40px;text-align:center;}
#con_bbptopm1l{height:250px; width:480px;margin-left:20px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bbptopm1r{height:250px; width:480px;margin-left:20px;font-size:16px;margin-top: 0;float: left;line-height: 40px;text-align:center;}
#con_bbptopm2l{height:250px; width:480px;margin-left:20px;font-size:16px;margin-top: 40px;float: left;line-height: 40px;text-align:center;}
#con_bbptopm2r{height:250px; width:480px;margin-left:20px;font-size:16px;margin-top: 40px;float: left;line-height: 40px;text-align:center;}

/* styles.css */
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
/* 添加以下代码以显示当前位置 */
nav span {
    display: inline-block;
    padding: 14px 16px;
    color: white;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f5f5f5;
    border: #600D0E;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    color:#882022;
          }
.hidden {
    display: none;
    }



/*#footer{height: 300px;text-align: center;font-size: 16px;padding: 0px 100px;position: relative;margin-top: 0%;}
#footer{cursor: pointer;}
#copyright{font-size: 12px;}
#info{font-size: 14px;color:azure;line-height: 25px;}*/


#footer{height: 300px;text-align: center;font-size: 16px;padding: 0px 100px;position: relative;margin-top: 10%;}
#footer{cursor: pointer;}
#copyright{font-size: 12px;}
#info{font-size: 14px;color:#000000;line-height: 25px;}
#footer .scroll{display: inline-block;border-radius: 5px;border:2px solid #eaeaea; /* background-color: rgba(216, 16, 109,0.6); */position: absolute;left: 5%;}
@keyframes scrollA {
  0% {left: 5%;transform: rotate(180deg);}
  10% {left: 5%;transform: rotate(270deg);}
  20% {left: 5%;transform: rotate(450deg);}
  25% {left: 10%;transform: rotate(540deg);}
  30% {left: 20%;transform: rotate(720deg);}
  35% {left: 30%;transform: rotate(900deg);}
  40% {left: 40%;transform: rotate(1080deg);}
  45% {left: 50%;transform: rotate(1260deg);}
  50% {left: 60%;transform: rotate(1440deg);}
  55% {left: 70%;transform: rotate(1620deg);}
  60% {left: 80%;transform: rotate(1800deg);}
  80% {left: 90%;transform: rotate(2610deg);}
  90% {left: 90%;transform: rotate(2340deg);}
  100% {left: 90%;transform: rotate(2520deg);}
}




